
<head>
    
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

        <div class="parent1">
            <form action="/user/add" method="POST">
                <label for="name">Name:<input type="text"name="name" id="name" placeholder="enter your name"></label>
                <br>
              
                <label for="email">Email:<input type="text"  name="email" placeholder="enter your email"></label>
            <br>
                <input class="btn" type="submit" value="Submit">
    
            </form>
    
        </div>
  
</body>
</html>